services:
  model-service:
    build:
      context: ../model_service
      dockerfile: Dockerfile
    container_name: model_service_container
    expose:
      - "8000"
    restart: unless-stopped
    networks:
      - project-network

  streamlit:
    build:
      context: ../streamlit
      dockerfile: Dockerfile
    container_name: streamlit_app 
    ports:
      - "8501:8501"
    restart: unless-stopped
    depends_on:
      - model-service
    networks:
      - project-network

networks:
  project-network:
    external: true
